<%= render 'books/book', book_new: @book, user: @user %>

<h2>Books</h2>
<table class="table table-hover table-inverse">

  <thead>
    <tr>
      <th></th><!--画像の部分はカラム名空白-->
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td> <%= image_tag user.get_profile_image(80,80) %> </td>
      <td><%= user.name  %></td>
      <td><%= link_to "Show", user_path(user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>