
  <body>
    Welcome to<!--ここにFontAwesome --> Bookers !!</br>
    In Bookers </br>

    you can share and exchange your opinions , inpressions , and emotions</br>

    about various books!

    <!--ここにログインとサインインのリンク-->
    <!--ログインしているときにログインボタンが押されたらカレントユーザーのusersページに飛ばす-->

    <a class = "btn btn-success btn-sm btn-block sign_in" href = /users/sign_in>Log in</a>
    <a class = "btn btn-success btn-sm btn-block sign_up" href = /users/sign_up>Sign up</a>


  </body>
