
  <body>
    Welcome to<!--ここにFontAwesome --> Bookers !!</br>
    In Bookers </br>

    you can share and exchange your opinions , inpressions , and emotions</br>

    about various books!

    <!--ここにログインとサインインのリンク-->
      <!--ログインしているときにログインボタンが押されたら-->
  </body>
  <footer>
    CopyRight Infratop.inc
  </footer>